<div class="row">
	<h2>{{username}} doucheJar !! <small><a href="#/">[back to list]</a></small></h2>
</div>
<div class="table-responsive">
		<table class="table table-hover">
        <thead>
        	<tr>
            	<th>The Thing</th>
            	<th>Type</th>
            	<th>Date</th>
                <th>Points</th>
                <th></th>
          	</tr>
        </thead>
         <tfoot ng-show="total_points">
        <tr>
            <td colspan="3"><strong>TOTAL USER POINTS: </strong></td>
            <td><strong>{{total_points}}</strong></td>
            <td></td>
        </tr>
    </tfoot>
        <tbody>
          	<tr ng-repeat="douchejar in user_douchejars | orderBy:'-created_at'">
            	<td>{{douchejar.the_thing}}</td>
            	<td>{{douchejar.name}}</td>
            	<td>{{douchejar.created_at}}</td>
            	<td>{{douchejar.point}}</td>
                <td><a ng-click="destroy(douchejar)"><span class="glyphicon glyphicon-trash"></span></a></td>
                <td></td>
          	</tr>
        </tbody>
      </table>    			
</div>


<!-- Modals -->
<div class="modal fade" id="new_douche" tabindex="-1" role="dialog" aria-labelledby="new_douche_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="new_douche_label">New one for {{username}} !</h4>
          </div>
          <div class="modal-body">
              <form class="form-horizontal" role="form" ng-submit="addDouche()" novalidate name="new_douche_form">
                  <div class="form-group">
                    <label for="the_thing" class="col-sm-2 control-label">The thing</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="word/description/act etc.." ng-model="new_douche.the_thing" required>
                    </div>
                </div>
              <!-- <div class="form-group">
                 <div class="checkbox">
                  <label>
                      <input type="checkbox"> has paid ? 
                  </label>
                </div>
            </div> -->
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">             
                    <select class="form-control" ng-model="new_douche.type" required>
                      <option value="1" selected>bad words</option>
                      <option value="2">bugs</option>
                  </select>
              </div>
          </div>
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-warning">#$%!</button>
            </div>
        </div>
    </form>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->